body {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #EEEEEE;
}

/*Menu Structure*/

nav {
    width: 100%;
    height: 50px;
    background-color: #FFFFFF;
    display: flex;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
}
nav ul {
    width: 100%;
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
}

nav ul li {
    text-transform: uppercase;
    font-size: 23px;
    font-weight: bold;
    color: #CCCCCC;
}

.active {
    color: #FF7800;
}

/*Main Section Structure*/

main { 
    display: flex;
    flex-direction: column;
    margin: 2%;
}

h1 {
    font-size: 18px;
    font-weight: 700;
    color: #999999;
    text-transform: uppercase;
    margin-left: 2%;
}

#panel {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#left { 
    width: 80%;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    background-color: white;
}

#right { 
    width: 20%;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    margin-left: 20px;
    margin-right: 20px;
}